<footer>
  <div align="center">
   <b>Library</b><br>
  <a href="http://www.investopedia.com/university/forexmarket/">Investopedia - Forex Trading</a><a href="https://en.wikipedia.org/wiki/Foreign_exchange_market">Wikipedia - Forex Trading</a>  
  <br><b>Research and Analysis</b><br>  
  <a href="http://epchan.blogspot.my/">Quantitative Trading</a><a href="http://jonathankinlay.com/">Quantitative Research and Trading</a>
  <br><br>
  <a href="http://www.gravtrade.com">Home</a><br>Powered by GravTrade© 2016
  </div>  
</footer>
http://epchan.blogspot.my/
