

<div id="particles">

             
             
             <div class="col-md-3 col-sm-4 col-xs-12">
            <div align="center">    
            <div class="row-picture">
              <img id="about" class="logo-img" src="{{ site.logo }}" alt="GravTrade - Research Analyse Execute" title="GravTrade - Research Analyse Execute">
            </div><br><br>
            <div class="row-details">
              <h4 class="list-group-item-heading">{{ site.author }}</h4>
              <p class="list-group-item-text">{{ site.about }}</p>
             </div></div></div>
            
            </div>
             
             
           
