<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
      <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
      {% include css.html %}  
  

  <!-- remember, jQuery is completely optional -->
  <!-- <script type='text/javascript' src='js/jquery-1.11.1.min.js'></script> -->
  <script type='text/javascript' src='../jquery.particleground.js'></script>
  <script type='text/javascript' src='../demo/js/demo.js'></script>
    
  </head>

  <body class="home overflow-hidden">
    <div id="particles" class="home overflow-hidden">
      
    {% include header.html %}
    </div>

    {% include main.html %}
        
    {% include js.html %}
    {% include analytics.html %}
  </body>
</html>
