---
layout: default
---
<br>
You may also want to know:<br><a href="{{ site.url }}/how-to-be-a-professional-trader-guide">How Professional Trader Makes Money by applying their best trading strategy - Best practice</a>
<br>

<div class="post-content well">
<article class="content">
    <div class="post">{{ content }}</div>
    <hr />
    {% include share-page.html %}
</article>
<hr />

<div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev pull-left" href="{{ page.previous.url }}">&laquo; {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next pull-right" href="{{ page.next.url }}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>
<br>
<div align="center">
<div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-numposts="5"></div>
</div>

